webserver:
  # For IPv6, set the listen_addr to "::"
  listen_addr: "0.0.0.0"
  listen_port: 8080
  # If you want to use a reverse proxy in front of the server, set this to true
  # It will use the X-Forwarded-For header to get the real IP of the client
  real_ip: false
  full_url: "/full-stream"
  lite_url: "/"
  domains_only_url: "/domains-only"
  cert_path: ""
  cert_key_path: ""
  compression_enabled: false
  # Use True-Client-IP, X-Real-IP or the X-Forwarded-For headers (in that order) to determine the real IP address of the client.
  # If you are using a reverse proxy, you should set this to true.
  real_ip: false
  whitelist:
    - "127.0.0.1/8"

prometheus:
  enabled: true
  listen_addr: "0.0.0.0"
  listen_port: 8080
  metrics_url: "/metrics"
  expose_system_metrics: false
  real_ip: false
  whitelist:
    - "127.0.0.1/8"

# Configuration related to external stream processing tools go here.
stream_processing:
  - name: "kafka"
    enabled: false
    server_addr: "127.0.0.1"
    server_port: 9092
    topic: "certstream"

  - name: "nqs"
    enabled: true
    server_addr: "127.0.0.1"
    server_port: 9092
    topic: "certstream"

general:
  # DisableDefaultLogs indicates whether the default logs used in Google Chrome and provided by Google should be disabled.
  disable_default_logs: false
  # When you want to add logs that are not contained in the log list provided by
  # Google (https://www.gstatic.com/ct/log_list/v3/log_list.json), you can add them here.
  additional_logs:
    - url: https://ct.googleapis.com/logs/us1/mirrors/digicert_nessie2022
      operator: "DigiCert"
      description: "DigiCert Nessie2022 log"

  # To optimize the performance of the server, you can overwrite the size of different buffers
  # For low CPU, low memory machines, you should reduce the buffer sizes to save memory in case the CPU is maxed.
  buffer_sizes:
    # Buffer for each websocket connection
    websocket: 300
    # Buffer for each CT log connection
    ctlog: 1000
    # Combined buffer for the cert dispatcher
    dispatcher: 10000
  # Google regularly updates the log list. If this option is set to true, the server will remove all logs no longer listed in the Google log list.
  # This option defaults to true. See https://github.com/d-Rickyy-b/certstream-server-go/issues/51
  drop_old_logs: true

  # Options for resuming certificate downloads after restart
  recovery:
    # If enabled, the server will resume downloading certificates from the last processed and stored index for each log.
    # If there is no ct_index_file or for a specific log there is no index entry, the server will start from index 0.
    # Be aware that this leads to a massive number of certificates being downloaded.
    # Depending on your server's performance and network connection, this could be up to 10.000 certificates per second.
    # Make sure your infrastructure can handle this!
    enabled: true
    # Path to the file where indices are stored. Be aware that a temp file in the same path with the same name and ".tmp" as suffix will be created.
    # If there are no write permissions to the path, the server will not be able to store the indices.
    ct_index_file: "./ct_index.json"
