version: '2'

services:
  certstream:
    image: 0rickyy0/certstream-server-go:latest
    restart: always
    # Configure the service to run as specific user
    # user: "1000:1000"
    ports:
      - 127.0.0.1:8080:80
      # Don't forget to open the other port in case you run the Prometheus endpoint on another port than the websocket server.
      # - 127.0.0.1:8081:81
    volumes:
      - ./certstream/config.yml:/app/config.yml
    networks:
      - monitoring
